@model Barbershop.Models.ViewModels.ServicesVM

<form method="post" asp-action="Create">
    <div class="p-3" style="border:1px solid #FFEBA7; background-color: #1F2029; margin-bottom: 30px">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="pl-3 text-center" style="color: #FFEBA7">Додати послугу</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label style="color: #FFEBA7">Назва послуги</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.serviceName" class="form-control" />
                        <span asp-validation-for="@Model.Service.serviceName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="@Model.Service.traineePrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.traineePrice" class="form-control" />
                        <span asp-validation-for="@Model.Service.traineePrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="@Model.Service.barberPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.barberPrice" class="form-control" />
                        <span asp-validation-for="@Model.Service.barberPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="@Model.Service.seniorPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.seniorPrice" class="form-control" />
                        <span asp-validation-for="@Model.Service.seniorPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="@Model.Service.Duration"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.Duration" class="form-control" />
                        <span asp-validation-for="@Model.Service.Duration" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color:#FFEBA7">Послуга активна ?</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Service.IsActive" type="checkbox" />
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <div class="col-4">
                        <label style="color: #FFEBA7" asp-for="@Model.Service.SpecializationId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="@Model.Service.SpecializationId" asp-items="@Model.Specializaions" class="form-select">
                            <option selected disabled value="--Необхідна спеціалізація--">--Необхідна спеціалізація--</option>
                        </select>
                        <span asp-validation-for="@Model.Service.SpecializationId" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row pt-3">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Додати" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success w-100">
                        <i class="fas fa-sign-out-alt"></i> До переліку
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
            <partial name="_ValidationScriptsPartial"></partial>
    }
}
