@model IEnumerable<Barbershop.Models.Services>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager

<style>
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

    .container {
        opacity: 0;
        transform: translate3d(0, 50px, 0); /* ADDED - start x position as -50px */
        cursor: pointer;
        transition: 0.7s all ease-in-out;
    }

    .show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
</style>



@{
    var today = DateTime.Today;
    var userDiscount = 0.0;
    if (User.Identity.IsAuthenticated)
    {
        var user = await userManager.GetUserAsync(User);
        var barbershopUser = (BarbershopUser)user;
        if (barbershopUser != null && barbershopUser.DateOfBirth.Day == today.Day && barbershopUser.DateOfBirth.Month == today.Month)
        {
            userDiscount = 0.05; 
        }
    }
}

<form method="get">
    <div class="container p-5" style="background-color: #1F2029; margin-bottom: 30px">
        <h2 class="text-center" style="color: #ffeBA7">Ціни на послуги</h2>
        <div class="col-4 d-lfex justify-content-center align-items-center">
            @Html.Editor("searchName", new { htmlAttributes = new {@class ="form-control", placeholder="Введіть назву послуги для пошуку"}})
            <button type="submit" class="btn btn-info mt-1 mb-1 form-control">
                <i class="fa fa-search"></i>Пошук
            </button>
        </div>
        <div class="row pt-4">
            @if (User.Identity.IsAuthenticated)
            {
                var user = await userManager.GetUserAsync(User);
                var barbershopUser = (BarbershopUser)user;
                if (barbershopUser != null && barbershopUser.DateOfBirth.Day == today.Day && barbershopUser.DateOfBirth.Month == today.Month)
                {
                    <h6 style="color: #FFF" class="text-center">Вітаємо Вас з днем народження! Як наш постійний клієнт, ви отримуєте знижку 5% на всі типи послуг!</h6>
                }
            }

        </div>
        <div class="row pt-4">
            @if (User.IsInRole(WC.AdminRole))
            {
                <div class="text-center pb-4">
                    <a asp-controller="Services" asp-action="Create" class="btn btn-primary">
                        <i class="fas fa-plus"></i> &nbsp; Додати нову послугу
                    </a>
                </div>
            }

        </div>

        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered" style="width:100%; font-size:16px; border-color: #FFEBA7">
                    <thead>
                        <tr>
                            <th style="color:#FFEBA7">
                                Назва послуги
                            </th>
                            <th style="color:#FFEBA7">
                                Стажер
                            </th>
                            <th style="color:#FFEBA7">
                                Барбер
                            </th>
                            <th style="color:#FFEBA7">
                                Топ-барбер
                            </th>
                            @if (User.IsInRole(WC.AdminRole))
                            {
                                <th style="color:#FFEBA7" class="text-center">
                                    Редагування
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user = await userManager.GetUserAsync(User);
                            var barbershopUser = (BarbershopUser)user;
                            if (barbershopUser != null && barbershopUser.DateOfBirth.Day == today.Day && barbershopUser.DateOfBirth.Month == today.Month)
                            {
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td width="35%" style="color:#FFEBA7"><strong>@obj.serviceName</strong></td>
                                        <td width="10%"><span style="text-decoration: line-through;color:#fff;">@obj.traineePrice&nbsp;</span><strong style="color:#FFEBA7">@Math.Round(obj.traineePrice - (obj.traineePrice * userDiscount))</strong></td>
                                        <td width="10%"><span style="text-decoration: line-through;color:#fff;">@obj.barberPrice&nbsp;</span><strong style="color:#FFEBA7">@Math.Round(obj.barberPrice - (obj.barberPrice * userDiscount))</strong> </td>
                                        <td width="10%"><span style="text-decoration: line-through;color:#fff;">@obj.seniorPrice&nbsp;</span><strong style="color:#FFEBA7">@Math.Round(obj.seniorPrice - (obj.seniorPrice * userDiscount))</strong></td>
                                        @if (User.IsInRole(WC.AdminRole))
                                        {
                                            <td wdith="35%" class="text-center">
                                                <div class="w-75 btn-group" role="group">
                                                    <a asp-controller="Services" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                                        <i class="fas fa-edit"></i> &nbsp;
                                                    </a>
                                                    <a asp-controller="Services" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                                        <i class="fas fa-trash-alt"></i>

                                                    </a>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td width="35%"><strong style="color:#FFEBA7">@obj.serviceName</strong></td>
                                        <td width="10%"><strong style="color:#FFEBA7">@obj.traineePrice</strong></td>
                                        <td width="10%"><strong style="color:#FFEBA7">@obj.barberPrice</strong></td>
                                        <td width="10%"><strong style="color:#FFEBA7">@obj.seniorPrice</strong></td>
                                        @if (User.IsInRole(WC.AdminRole))
                                        {
                                            <td wdith="35%" class="text-center">
                                                <div class="w-75 btn-group" role="group">
                                                    <a asp-controller="Services" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                                        <i class="fas fa-edit"></i> &nbsp;
                                                    </a>
                                                    <a asp-controller="Services" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                                        <i class="fas fa-trash-alt"></i>

                                                    </a>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Послуги тимчасово відсутні.</p>
        }
    </div>
</form>

<script>
    $(document).ready(function() {
        $('.container').addClass('show');
    });
</script>

