@model List<Barbershop.Models.BarberSchedule>


<h2 class="text-dark">Розклад роботи барберів</h2>
<div class="container p-5">
    <div class="row pt-4">
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Створити новий розклад
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered" style="width:100%; font-size:16px">
            <thead>
                <tr>
                    <th class="text-center">
                        Ім'я барбера
                    </th>
                    <th class="text-center">
                        Розклад на дату
                    </th>
                    <th class="text-center">
                        Початок робочого дня
                    </th>
                    <th class="text-center">
                        Кінець робочого дня
                    </th>
                    <th class="text-center">
                        Редагування
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td class="text-center" width="35%"><strong>@obj.BarbershopUser.FullName</strong></td>
                        <td class="text-center" width="10%"><strong>@obj.Date.ToShortDateString()</strong></td>
                        <td class="text-center" width="10%"><strong>@obj.StartTime</strong></td>
                        <td class="text-center" width="10%"><strong>@obj.EndTime</strong></td>     
                        
                        <td wdith="35%" class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="BarberSchedule" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                    <i class="fas fa-edit"></i> &nbsp;
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Користувачі тимчасово відсутні.</p>
    }
</div>

