@{
    Layout = null;
}
@model Barbershop.Models.ViewModels.OrderVM

<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="backgroundWhite container">
        <div class="card" style="background-color: #1F2029; border: solid; border-width: 1px; border-color: #FFEBA7">
            <div class="card-header text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <h5 class="mt-2" style="color: #FFEBA7">Замовлення №@Model.OrderHeader.Id</h5>
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <button id="ordersButton" class="btn btn-outline-info form-control btn-sm">До замовлень</button>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="text-center" style="color: #FFEBA7">Деталі замовлення</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Клієнт</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.FullName" readonly type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Тел.</div>
                                <div class="col-9">

                                    <input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Обл.</div>
                                <div class="col-9">

                                    <input asp-for="OrderHeader.Region" type="text" readonly class="form-control" />
                                    <span asp-validation-for="OrderHeader.Region" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Місто</div>
                                <div class="col-9">

                                    <input asp-for="OrderHeader.City" type="text" readonly class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Відділ</div>
                                <div class="col-9">

                                    <input asp-for="OrderHeader.PostOffice" type="text" readonly class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostOffice" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">E-Mail</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Email" type="text" readonly class="form-control" />
                                    <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Дат.зам.</div>
                                <div class="col-9">

                                    <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" type="text" class="form-control" readonly />

                                </div>
                            </div>

                            <div id="shipDiv" class="row my-1 d-none">
                                <div style="color: #FFEBA7" class="col-3">Дат.приб.</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" id="shippingDate" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div id="receiveDiv" class="row my-1 d-none">
                                <div style="color: #FFEBA7" class="col-3">Дат.отр.</div>
                                <div class="col-9">
                                    <input value="@Model.OrderHeader.ReceivingDate.ToShortDateString()" id="receivingDate" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div id="transactionDiv" class="row my-1 d-none">
                                <div style="color: #FFEBA7" class="col-3">Транзакція</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.TransactionId" id="transaction" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div style="color: #FFEBA7" class="col-3">Стат.зам.</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.OrderStatus" type="text" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-center align-items-center mb-3">
                                <span class="text-center" style="color: #FFEBA7">Підсумок по замовленню</span>
                            </h4>
                            <ul class="list-group mb-3" style="background-color: #1F2029">
                                @foreach (var detail in Model.OrderDetail)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2" style="border-color: #FFEBA7; background-color: transparent">
                                        <div class="row container">
                                            <div class="col-8">
                                                <a asp-action="Details" asp-controller="Stock" asp-route-Id ="@detail.Id" class="my-0" style="color: #FFEBA7">@detail.Product.ProductName</a>
                                                <small class="text-muted">Ціна за од. : @detail.PricePerOne</small><br />
                                                <small class="text-muted">Кількість : @detail.Count</small>
                                            </div>
                                            <div class="col-4">
                                                <p style="color: #FFEBA7">@(detail.PricePerOne * detail.Count) грн</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item" style="border-color: #FFEBA7; background-color: transparent">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="" style="color: #FFEBA7">Ціна до сплати</h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 style="color: #FFEBA7">@(Model.OrderHeader.FinalOrderTotal) грн</h5>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            if ($('#shippingDate').val().toString() !== '01.01.0001') {
                $('#shipDiv').removeClass('d-none');
            }
            if ($('#receivingDate').val().toString() !== '01.01.0001') {
                $('#receiveDiv').removeClass('d-none');
            }

            var transactionDiv = $('#transactionDiv');
            if ($('#transaction').val().toString() !== 'NONE') {
                transactionDiv.removeClass('d-none');
            }


        })
    </script>
    <script>
        $(document).ready(function () {
            $('#ordersButton').click(function (event) {
                $.ajax({
                    type: "GET",
                    url: "/Order/IndexUser",
                    success: function (html) {
                        $('#orderList').html(html);
                    }
                });
            });
        });
    </script>

}@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
