@model Barbershop.Models.ViewModels.AppointmentDetailsVM


<style>
    .list-group-item{
        background-color: transparent;
    }
</style>

<form method="post">
    <input asp-for="@Model.Appointment.Id" hidden />
    <br />
    <div class="backgroundWhite container">
        <div class="card" style="background-color: #1F2029">
            <div class="card-header text-light ml-0 row container" style="border-bottom-width: 0px">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <h5 class="mt-2" style="color: #FFEBA7">Запис №@Model.Appointment.Id</h5>
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">До всіх записів</a>
                </div>
            </div>
            <div class="card-body pb-0" style="background-color: #1F2029">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="" style="color: #FFEBA7">Деталі запису</span>
                                </h4>
                            </div>
                            @if (User.IsInRole(WC.AdminRole))
                            {
                                <div class="row my-1">
                                    <div class="col-3" style="color: #FFEBA7">Записано користувачем</div>
                                    <div class="col-9">
                                        <input asp-for="@Model.Appointment.User.FullName" readonly type="text" class="form-control" />
                                        <span asp-validation-for="@Model.Appointment.User.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                            }                            
                            <div class="row my-1">
                                <div class="col-3" style="color: #FFEBA7">Тел.</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.PhoneNumber" readonly type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3" style="color: #FFEBA7">E-Mail</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.Email" type="text" readonly class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3" style="color: #FFEBA7">Вказаний промокод</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.UsedPromo" type="text" readonly class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.UsedPromo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Барбер</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.Barber.FullName" type="text" readonly class="form-control" />
                                    @if (Model.Appointment.AppointmentStatus == WC.AppointmentDone)
                                    {
                                        <input asp-for="@Model.Appointment.Barber.Id" id="barberId" class="form-control d-none" />
                                    }
                                    <span asp-validation-for="@Model.Appointment.Barber.FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Дата оформлення запису</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.AppointmentDateAndTime" type="date" readonly class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.AppointmentDateAndTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Запис на дату</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.Date" type="date" readonly class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.Date" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Час початку</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.StartTime" type="time" disabled class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.StartTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Час закінчення</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.EndTime" type="time" disabled class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.EndTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3" style="color: #FFEBA7">Тип запису</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.AppointmentType" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.AppointmentType" class= "text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1" style="color: #FFEBA7">
                                <div class="col-3">Статус запису</div>
                                <div class="col-9">
                                    <input asp-for="@Model.Appointment.AppointmentStatus" type="text" readonly class="form-control" />
                                    <span asp-validation-for="@Model.Appointment.AppointmentStatus" class=" text-danger"></span>
                                </div>
                            </div>           
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-center align-items-center mb-3">
                                <span class="" style="color: #FFEBA7">Замовлені послуги</span>
                            </h4>
                            <ul class="list-group mb-3" style="background-color: #1F2029">
                                @foreach (var services in Model.AppointmentDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2" style="border-color: #FFEBA7; background-color: none">
                                        @if (Model.Appointment.Barber.WorkPosition.PositionName == "Стажер")
                                        {
                                            <div class="row container">
                                                <div class="col-8">
                                                    <h6 class="my-0" style="color: #FFEBA7">@services.Services.serviceName у стажера</h6>
                                                    <small class="text-muted">Ціна за посулгу : @services.ServicePrice грн.</small><br />
                                                    <small class="text-muted">Тривалість : @services.Services.Duration.Minutes хв.</small>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.Appointment.Barber.WorkPosition.PositionName == "Барбер")
                                        {
                                            <div class="row container">
                                                <div class="col-8">
                                                    <h6 class="my-0" style="color: #FFEBA7">@services.Services.serviceName у барбера</h6>
                                                    <small class="text-muted">Ціна за посулгу : @services.ServicePrice грн.</small><br />
                                                    <small class="text-muted">Тривалість : @services.Services.Duration.Minutes хв.</small>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.Appointment.Barber.WorkPosition.PositionName == "Топ-барбер")
                                        {
                                            <div class="row container">
                                                <div class="col-8">
                                                    <h6 class="my-0" style="color: #FFEBA7">@services.Services.serviceName у топ-барбера</h6>
                                                    <small class="text-muted">Ціна за посулгу : @services.ServicePrice грн.</small><br />
                                                    <small class="text-muted">Тривалість : @services.Services.Duration.Minutes хв.</small>
                                                </div>
                                            </div>
                                        }                                        
                                    </li>
                                }
                                <li class="list-group-item" style="color: #FFEBA7; border-color: #FFEBA7">
                                    <div class="row container">
                                        @if (Model.Appointment.TotalPriceWithDiscount != Model.Appointment.TotalPrice)
                                        {
                                        <div class="col-6">
                                            <h5 class="text-muted">Ціна до сплати</h5>
                                        </div>
                                        <div class="col-6 text-right">
                                                <h5 class="text-muted">@(Model.Appointment.TotalPrice) грн</h5>
                                        </div>
                                            <div class="col-6">
                                                <h5 class="" style="color: #FFEBA7">Ціна зі знижкою</h5>
                                            </div>
                                            <div class="col-6 text-right">
                                                <h5 class="" style="color: #FFEBA7">@(Model.Appointment.TotalPriceWithDiscount) грн</h5>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-6">
                                                <h5 class="" style="color: #FFEBA7">Ціна до сплати</h5>
                                            </div>
                                            <div class="col-6 text-right">
                                                <h5 class="" style="color: #FFEBA7">@(Model.Appointment.TotalPrice) грн</h5>
                                            </div>
                                        }
                                    </div>
                                </li>

                            </ul>


                            <br />

                            @if (Model.Appointment.AppointmentStatus == Barbershop.WC.AppointmentReceived)
                            {
                                @if (User.IsInRole(WC.ClientRole))
                                {
                                    <input type="submit" value="Відмінити запис"
                                   formmethod="post" asp-route-id="@Model.Appointment.Id" asp-action="AppointmentCancelled"
                                   class="btn btn-info form-control mt-2" />
                                }
                                @if(User.IsInRole(WC.AdminRole))
                                {
                                  <input type="submit" value="Завершити запис"
                                   formmethod="post" asp-route-id="@Model.Appointment.Id" asp-action="AppointmentDone"
                                   class="btn btn-info form-control" />                                    
                                }

                            } 
                            @if (Model.Appointment.AppointmentStatus == Barbershop.WC.AppointmentDone)
                            {
                                @if (User.IsInRole(WC.ClientRole))
                                {
                                    <button type="button" id="showReview" class="col-12 btn mt-2">Залишити відгук</button>
                                }

                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #1F2029">
            <div class="modal-header row" style="justify-content: center; border-bottom-color: #FFEBA7; margin: 0px">
                <h5 class="modal-title text-center" style="color: #FFEBA7" id="reviewModallLabel">Відгук про барбера @Model.Appointment.Barber.FullName</h5>
            </div>
            <div class="modal-body justify-content-center">
                <h6 class="text-center" style="color: #FFEBA7">Відгук</h6>
                <textarea id="commentText" class="form-style" placeholder="Текст відгуку"></textarea>
                <h6 class="text-center" style="color: #FFEBA7">Ваша оцінка</h6>
                <select class="form-select" id="rate">
                    <option value="0" disabled selected>--Оцініть роботу барбера--</option>
                    <option value="1">Жахливо</option>
                    <option value="2">В цілому погано</option>
                    <option value="3">Можна й краще</option>
                    <option value="4">Добре</option>
                    <option value="5">Відмінно</option>
                </select>
            </div>
            <div class="modal-footer" style="border-top-color: #FFEBA7">
                <div class="col-12">
                    <button type="button" class="btn btn-dark form-control" id="addReviewButton">Залишити відгук</button>
                    <button type="button" class="btn btn-secondary form-control mt-1" data-bs-dismiss="modal">До запису</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#showReview').click(function() {
                $('#reviewModal').modal('show');
            });

            $('#addReviewButton').click(function() {
                var barberId = $('#barberId').val();
                var comment = $('#commentText').val();
                var rate = $('#rate').val();

                $.ajax({
                    url: '/AppointmentList/LeaveReview',
                    type: 'POST',
                    data: { "barberId": parseInt(barberId), "Rate" : rate, "comment" : comment },
                    success: function(response){
                        if(response.success)
                        {
                            Swal.fire({
                                icon: 'success',
                                title: 'Дякуємо за відгук!',
                                text: 'Сподіваємось на Ваші подальші візити до нас!',
                                showConfirmButton: true,
                                timer: 10000
                            })
                            $('#reviewModal').modal('hide');
                            $('#commentText').val('');
                        }
                    }
                });
            });

        })
    </script>

}@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
