@model Barbershop.Models.ViewModels.AppointmentListVM
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
    var barbershopUser = (BarbershopUser)user;

    var appCount = barbershopUser.AppointmentCount;
    var appSuccessCount = barbershopUser.AppointmentSuccessCount;
    var appPoints = barbershopUser.AppointmentPoints;
}
<div>
    <form method="get">
        <div class="container p-4 my-3" style="background-color: #1F2029; margin-bottom: 50px">
                <h2 class="text-center" style="color:#FFEBA7">Записи до барберів</h2>
            <div class="border bg-white p-3" style="border-radius:15px">
                <div class="col-12">
                    <div class="row" style="padding-top:10px">
                        @if(User.IsInRole(WC.AdminRole))
                        {
                        <div class="col-4">
                            @Html.Editor("searchDate", new { htmlAttributes = new {@class ="form-control", placeholder="Дата запису (у форматі рррр-мм-дд)"}})
                        </div>
                        }
                        <div class="col-4">
                            @Html.Editor("searchId", new { htmlAttributes = new {@class ="form-control", placeholder="Номер запису"}})
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchAppointmentDate", new { htmlAttributes = new {@class ="form-control", placeholder="Дата оформлення (у форматі рррр-мм-дд)"}})
                        </div>
                        @if(User.IsInRole(WC.AdminRole))
                        {
                            <div class="col-4 mt-2">
                                @Html.Editor("searchPhone", new { htmlAttributes = new {@class ="form-control", placeholder="Номер телефону..."}})
                            </div>
                        }
                        else
                        {
                             <div class="col-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new {@class ="form-control", placeholder="Номер телефону..."}})
                        </div>
                        }
                       
                            <div class="col-4 mt-2">
                                @Html.Editor("searchEmail", new { htmlAttributes = new {@class ="form-control", placeholder="E-Mail..."}})
                            </div>

                        <div class="row">
                            <div class="col-4 mt-2">
                                @Html.DropDownListFor(u=>u.Status, Model.StatusList,"--Статус запису--", new {@class = "form-select"})
                            </div>
                            @if(User.IsInRole(WC.AdminRole))
                              {
                            <div class="col-4 mt-2">
                                @Html.DropDownListFor(u=>u.Type, Model.AppointmentType,"--Тип запису--", new {@class = "form-select"})
                            </div>
                             }
                            <div class="col-4 mt-2 text-end">
                                <button type="submit" class="h-100 btn btn-info form-control">
                                    <i class="fa fa-search"></i>Пошук
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@if(User.IsInRole(WC.AdminRole) || User.IsInRole(WC.ClientRole))
{
    <div class="p-3" style="background-color: #1F2029">
        <div class="row">
            <div class="col text-center" style="color:#FFEBA7">
                <h4>Кількість записів</h4>
                <h5>@appCount</h5>
            </div>
            <div class="col text-center" style="color:#FFEBA7">
                <h4>Кількість завершених записів</h4>
                <h5>@appSuccessCount</h5>
                @if(appPoints >= 3)
                {
                    <form method="post">
                        <button asp-action="ConvertToPromo" type="submit" class="btn" id="promocodeButton">Створити промокод</button>
                    </form>
                }
            </div>
            <div class="col text-center" style="color:#FFEBA7">
                <h4>Бонусні бали</h4>
                <h5>@appPoints</h5>
                <button type="button" class="btn" id="myPromoButton">Мої промокоди</button>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="promocodeModal" tabindex="-1" aria-labelledby="promocodeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #1F2029">
            <div class="modal-header row" style="justify-content: center; border-bottom-color: #FFEBA7; margin: 0px">
                <h5 class="modal-title text-center" style="color: #FFEBA7" id="promocodeModallLabel">Мої промокоди</h5>
            </div>
            <div class="modal-body justify-content-center">
                <div class="promo-container"></div>
            </div>
            <div class="modal-footer" style="border-top-color: #FFEBA7">
                <div class="col-12">
                    <button type="button" class="btn btn-secondary form-control mt-1" data-bs-dismiss="modal">До записів</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-3 mt-2" style="background-color: #1F2029;">
    <ejs-grid id="adaptivebrowser" dataSource="@Model.AppointmentList" enableAdaptiveUI="true"  allowFiltering="true" allowSorting="true" allowPaging="true">
        <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
        <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="Ідентифікатор запису" isPrimaryKey="true" width="180"></e-grid-column>
            @if(User.IsInRole(WC.AdminRole))
            {
                <e-grid-column field="UserId" headerText="Ідентифікатор користувача" width="250"></e-grid-column>
            }
            <e-grid-column field="PhoneNumber" headerText="Номер телефону" width="180"></e-grid-column>
            <e-grid-column field="Email" headerText="E-Mail" width="180"></e-grid-column>
            <e-grid-column field="Barber.FullName" headerText="Барбер" width="180"></e-grid-column>
            <e-grid-column field="AppointmentDateAndTime" width="180" headerText="Дата оформлення" customFormat="@(new {type="date", format="dd/MM/yyyy"})"></e-grid-column>
            @if(User.IsInRole(WC.AdminRole))
            {
                <e-grid-column field="Date" width="180" headerText="Дата запису" customFormat="@(new {type="date", format="dd/MM/yyyy"})" ></e-grid-column>
                <e-grid-column field="AppointmentType" width="180" headerText="Тип запису" ></e-grid-column>
            }
            <e-grid-column field="AppointmentStatus" width="180" headerText="Статус" ></e-grid-column>
            <e-grid-column field="Id" headerText="" width="70" template="<a rel='nofollow' href='AppointmentList/Details/${Id}' class='btn btn-primary'> <i class='fas fa-list'></i></a>"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script>
    $(document).ready(function() {
        $('#myPromoButton').click(function() {
            $('#promocodeModal').modal('show');
            let promoContainer = $('.promo-container');
            let promoPlace = '';
            $.ajax({
                url: '/AppointmentList/GetMyPromos',
                type: 'GET',
                success: function(response)
                {
                    if(response.success)
                    {
                        var promos = response.promos;
                        for(let i = 0; i < promos.length; i++)
                        {
                            let promocode = '<h6 class="text-center" style="color: #FFEBA7">'+ promos[i] +'</h6>';
                            promoPlace += promocode;
                        }

                        promoContainer.html(promoPlace);
                    }
                    else
                    {
                        let noPromo = '<h6 class="text-center" style="color: #FFEBA7">' + response.message + '</h6>';
                        promoContainer.html(noPromo);
                    }
                }
            });
        });

    });
</script>