@model List<Barbershop.Models.News>

@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

<style>
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }
</style>

<div class="container p-3" style="background-color: #1f2029">
                <h2 class="text-center" style="color: #FFEBA7">Створені публікації</h2>
        <div class="row pt-4">
        <div class="text-center pb-4">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Додати нову публікацію
            </a>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered" style="border-color: #FFEBA7;width:100%;">
                <thead>
                    <tr>
                        <th style="color: #FFEBA7">
                            ID новини
                        </th>
                        <th style="color: #FFEBA7">
                            Заголовок
                        </th>
                        <th style="color: #FFEBA7">
                            Дата публікації
                        </th>
                        <th style="color: #FFEBA7">
                            Створено користувачем
                        </th>
                        <th style="color: #FFEBA7">
                            Категорія новини
                        </th>
                        <th style="color: #FFEBA7" class="text-center">
                            Редагування
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td style="color: #FFEBA7" width="10%">@obj.Id</td>
                            <td style="color: #FFEBA7" width="20%">@obj.Title</td>
                            <td style="color: #FFEBA7" width="20%">@obj.CreatedDate.ToShortDateString()</td>
                            <td style="color: #FFEBA7" width="10%">@obj.User.UserName</td>
                            <td style="color: #FFEBA7" width="10%">@obj.Category</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary mx-2">
                                        <i class="fas fa-edit"></i> &nbsp;
                                    </a>
                                    <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                        <i class="fas fa-trash-alt"></i>

                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    }
    else
    {
        <h2 class="text-center" style="color: #FFEBA7">Опубліковані новини відсутні.</h2>
    }
</div>

