@model Barbershop.Models.ViewModels.DetailsVM
<style>
    .container {
        opacity: 0;
        transform: translate3d(50px, 0, 0); /* ADDED - start x position as -50px */
        cursor: pointer;
        transition: 0.7s all ease-in-out;
    }

    .show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
</style>
    <form method="post">
        <input asp-for="@Model.Barbers.Id" hidden/>
        <div class="container pt-4" style="margin-bottom: 50px">
            <div class="card" style="border-color: #FFEBA7">
                <div class="card-header text-light d-flex justify-content-between" style="border-radius: 0px;background-color: #1f2029 ">
                    <div class="col-12 col-md-6">
                        
                    </div>
                </div>
                <div class="card-body" style="background-color: #1f2029">
                    <div class="container rounded p-2" style="background-color: #1f2029">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img class="barber-image" src="@WC.BarberPath@Model.Barbers.BarberImage" width="100%" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-8">
                            <div class="pl-3">
                                <div class="col-12">
                                    <h1 class="text-center mt-1" style="color:#FFEBA7">@Model.Barbers.FullName</h1>
                                    @foreach (var spec in Model.Barbers.Specializations)
                                    {
                                        <div class="d-flex align-items-start">
                                            <img src="@WC.SpecPath@spec.SpecImage" class="mr-2" alt="Specialization Image" />
                                            <h5 class="p-3" style="color:#FFEBA7">@spec.SpecName</h5>
                                        </div>
                                    }
                                    @if (User.IsInRole(WC.ClientRole) || User.IsInRole(WC.AdminRole))
                                    {
                                         <a asp-action="Index" asp-controller="Appointment" asp-route-barberId = "@Model.Barbers.Id" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Записатись</a>
                                    }
                                   
                                </div>
                                <div class="col-12">
                                    <h5 style="color:#FFFFFF; font-size: 20px">@Html.Raw(Model.Barbers.Description)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row">
                        @if(User.IsInRole(WC.ClientRole) || User.IsInRole(WC.AdminRole))
                        {
                            <div class="col-12 col-md-6 pb-1 ">
                                <a asp-action="Index" asp-controller="Appointment" asp-route-barberId="@Model.Barbers.Id" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Записатись</a>
                            </div>
                        }

                        <div class="col-12 col-md-6 pb-1 ">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Назад до переліку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            $('.container').addClass('show');
        })
    </script>