@model List<Barbershop.Models.Barbers>

<style>
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }
</style>
<form method="get">
    <div class="container p-5" style="color: #FFEBA7; background-color: #1F2029; margin-bottom: 30px">
        <h2 class="text-center" style="color: #FFEBA7">Перелік барберів</h2>
        <div class="col-4 d-lfex justify-content-center align-items-center">
            @Html.Editor("searchName", new { htmlAttributes = new {@class ="form-control", placeholder="Введіть ім'я барбера для пошуку"}})
            <button type="submit" class="btn btn-info mt-1 mb-2 form-control">
                <i class="fa fa-search"></i>Пошук
            </button>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered" style="width:100%; font-size:16px;border-color: #ffeba7">
                    <thead>
                        <tr>
                            <th style="color: #FFEBA7;" class="text-center">
                                Ідентифікатор користувача
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Ім'я та прізвище
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Номер телефону
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Електронна пошта
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Чи працює в даний момент ?
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Спеціалізації
                            </th>
                            <th style="color: #FFEBA7;" class="text-center">
                                Редагування
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td class="text-center" width="35%"><strong style="color: #FFEBA7;">@obj.BarbershopUserId</strong></td>
                                <td class="text-center" width="10%"><strong style="color: #FFEBA7;">@obj.BarbershopUser.FullName</strong></td>
                                <td class="text-center" width="10%"><strong style="color: #FFEBA7;">@obj.BarbershopUser.PhoneNumber</strong></td>
                                <td class="text-center" width="10%"><strong style="color: #FFEBA7;">@obj.BarbershopUser.Email</strong></td>
                                @if (obj.IsActive == true)
                                {
                                    <td class="text-center" width="10%"><strong style="color: #FFEBA7;">Так</strong></td>
                                }
                                else
                                {
                                    <td class="text-center" width="10%"><strong style="color: #FFEBA7;">Ні</strong></td>
                                }
                                <td wdith="30%">
                                    <ul>
                                        @foreach (var specialization in obj.Specializations)
                                        {
                                            <p style="color: #FFEBA7;">@specialization.SpecName</p>
                                        }
                                    </ul>
                                </td>
                                <td style="color: #FFEBA7;" wdith="35%" class="text-center">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="BarberMain" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary">
                                            <i class="fas fa-edit"></i> &nbsp;
                                        </a>
                                        <a asp-controller="BarberMain" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-primary mx-2">
                                            <i class="fas fa-trash-alt"></i> &nbsp;
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Користувачі тимчасово відсутні.</p>
        }
    </div>
</form>


