@model List<Barbershop.Models.Products>
@using Barbershop.Utility

<style>
    .container {
        opacity: 0;
        transform: translate3d(0, -50px, 0); /* ADDED - start x position as -50px */
        transition: 0.7s all ease-in-out;
    }

    .show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
</style>

@if (Model.Count() > 0)
{
    <form method="post">
        <br />
        <div class="container row" style="margin-bottom: 30px">
                <div class="col-12">
                    <div class="card mt-4">
                        <div class="card-header ml-0" style="overflow: hidden; background-color: #1f2029">
                            <div class="row text-end">
                                <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Кошик
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" asp-controller="Stock" class="btn btn-outline-info btn-sm">Продовжити покупки</a>
                                    <a asp-action="Clear" class="btn btn-outline-info btn-sm">Очистити кошик</a>
                            </div>
                            </div>
                        </div>
                    <div class="card-body" style="background-color: #1f2029">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#FFEBA7">
                                    <div class="col-lg-2">
                                        Фото товару
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        Інформація про товар
                                    </div>
                                    <div class="col-12 col-lg-2">
                                        Ціна за шт.
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        К-ть од. товару
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        Загальна ціна
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @{                        
                                var orderTotal = 0.0m;
                            }
                            @for(int i =0; i < Model.Count(); i++)
                            {
                                <input type="hidden" asp-for="@Model[i].Id"/>
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WC.ProductPath@Model[i].ProductImage" class="rounded" width="100%" />
                                    </div>
                                    <div class="col-8 col-lg-3">
                                    <a asp-controller="Stock" asp-action="Details" asp-route-id="@Model[i].Id" style="text-decoration: none"><h5 style="color: #FFEBA7">@Model[i].ProductName</h5></a>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> @Model[i].Price грн</span>/ за од.
                                    </div>
                                    <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <input type="text" asp-for="@Model[i].TempCount" class="form-control" />
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> @(Model[i].Price * Model[i].TempCount) грн</span>
                                    </div>
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="Remove" asp-route-id="@Model[i].Id" class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                orderTotal += Model[i].Price * Model[i].TempCount;
                                <hr />
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4" style="color:#FFEBA7">
                                    Загальна ціна: @string.Format("{0:c}",orderTotal);
                                </div>
                            </div>
                        </div>
                    <div class="card-footer" style=" background-color: #1f2029">
                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Оновити" class="btn btn-info form-control"/>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Продовжити</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
}
else
{
    <p>Add items to shoppingCart</p>
}
<script>
    $(document).ready(function() {
        $('.container').addClass('show');
    })
</script>


