@model Barbershop.Models.ViewModels.ProductUserVM
@using Barbershop.Utility;
@using Microsoft.AspNetCore.Http;
@{
    var orderTotal = 0.0m;
    
}

<style>
    .container {
        opacity: 0;
        transform: translate3d(0, 50px, 0); /* ADDED - start x position as -50px */
        transition: 0.7s all ease-in-out;
    }

    .show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
</style>

<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card p-3" style="background-color: #1F2029; margin-bottom: 30px">
                <div class="card-header text-dark ml-0 row container" style="background-color: transparent">
                    <div class="col-6" style="color: #FFEBA7">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Ваше замовлення
                    </div>
                    <div class="col-6 text-end">
                        <a asp-controller="Cart" asp-action="Index" class="btn btn-dark btn-sm" style="border-radius: 0px">Назад до кошика</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="" style="color: #FFEBA7">Деталі замовлення:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Ім'я та прізвище</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.FullName" id="fullname" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Номер телефону</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Ел. пошта</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Спосіб доставки</label>
                                    </div>
                                    <div class="col-9">
                                        <select asp-for="BarbershopUser.DeliveryMethod" type="text" class="form-select delivery-method" >
                                            <option disabled>--Оберіть спосіб доставки--</option>
                                            <option value="Самовивіз(м.Бердичів, вул.Європейська 54)">Самовивіз(м.Бердичів, вул.Європейська 54)</option>
                                            <option value="Доставка Новою Поштою">Доставка Новою Поштою</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Область</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="regionSelect" asp-for="BarbershopUser.Region" type="text" class="form-select">
                                            <span asp-validation-for="BarbershopUser.Region" class="text-danger"></span>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Місто</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="citySelect" asp-for="BarbershopUser.City" type="text" class="form-select">
                                            <span asp-validation-for="BarbershopUser.City" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Адреса доставки</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="officeSelect" asp-for="BarbershopUser.PostOffice" type="text" class="form-select">
                                            <span asp-validation-for="BarbershopUser.PostOffice" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label style="color: #FFEBA7">Спосіб оплати</label>
                                    </div>
                                    <div class="col-9">
                                        <select asp-for="BarbershopUser.PaymentType" type="text" id="payment-type-select" onchange="return toggleScript()" class="form-select payment-type">
                                            <option selected value="@WC.ReceivePay">@WC.ReceivePay</option>
                                            <option value="@WC.CardPay">@WC.CardPay</option>
                                        </select>
                                        <span asp-validation-for="BarbershopUser.PaymentType" class="text-danger"></span>
                                        <span id="payment-type-value"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="" style="color: #FFEBA7">Підсумок по замовленню:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @for (int i = 0; i < Model.ProductList.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].ProductName" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].TempCount" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].ProductName</h6>
                                                    <small class="text-muted">Кількість замовлено: @Model.ProductList[i].TempCount шт</small>
                                                    <small class="text-muted">Загальна сума по товару: @(Model.ProductList[i].Price * Model.ProductList[i].TempCount) грн</small>
                                                </div>

                                            </li>
                                            orderTotal += Model.ProductList[i].Price * Model.ProductList[i].TempCount;
                                        
                                        }
                                        <li class="list-group-item d-flex justify-content-between bj-light">
                                            <strong class="text-dark">Загальна ціна (UAH)</strong>
                                            <strong class="text-dark">@orderTotal грн</strong>
                                        </li>
                                    </ul>
                                </div>                                
                                <div class="col-12">
                                    <div class="wrapper">
                                        <div class="checkout-container">
                                            <div id="dropin-container"></div>
                                            <input  id="nonce" name="payment_method_nonce" type="hidden" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" style=" background-color: transparent">
                                    <div class="row">
                                        <div class="col-12 col-md-5 offset-md-7">
                                            <button type="submit" style="border-radius: 0px" class="btn btn-dark form-control">Підтвердити замовлення</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script >
        /*Перемикач для типу доставки*/
        $(document).ready(function () {
            $('.delivery-method').change(function () {
                if ($(this).val() === 'Доставка Новою Поштою') {
                    $('.delivery-details').removeClass('d-none');
                }
                else {
                    $('.delivery-details').addClass('d-none');
                    $('#regionSelect').val("");
                    $('#citySelect').val("");
                    $('#officeSelect').val("");
                    $('#regionSelect').html("");
                    $('#citySelect').html("");
                    $('#officeSelect').html("");
                }
            }).trigger('change');

        });

        $(document).ready(async function () {
            var regionSelect = $("#regionSelect");
            var citySelect = $("#citySelect");
            var officeSelect = $("#officeSelect");
            var apiKey = "e2cf44cd7f5c2cbc67892f3427d71234";

            // Завантаження областей та міст
            try {
                var areasResponse = await $.ajax({
                    url: "https://api.novaposhta.ua/v2.0/json/Address/getAreas",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        "apiKey": apiKey,
                        "modelName": "Address",
                        "calledMethod": "getAreas"
                    })
                });

                var areas = areasResponse.data;

                regionSelect.empty();
                regionSelect.append($('<option>', {
                    value: "--Оберіть область--",
                    text: "--Оберіть область--"
                }));

                for (var i = 0; i < areas.length; i++) {
                    var option = $('<option>', {
                        value: areas[i].Description,
                        text: areas[i].Description
                    });
                    regionSelect.append(option);
                }
            } catch (error) {
                console.error(error);
            }

            // Завантаження міст для вибраної області
            regionSelect.on("change", async function () {
                var selectedRegion = regionSelect.val();

                try {
                    var citiesResponse = await $.ajax({
                        url: "https://api.novaposhta.ua/v2.0/json/Address/getCities",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({
                            "apiKey": apiKey,
                            "modelName": "Address",
                            "calledMethod": "getCities",
                            "methodProperties": {
                                "Area": selectedRegion
                            }
                        })
                    });

                    var cities = citiesResponse.data;

                    citySelect.empty();
                    citySelect.append($('<option>', {
                        value: "--Оберіть місто--",
                        text: "--Оберіть місто--"
                    }));

                    for (var i = 0; i < cities.length; i++) {
                        var option = $('<option>', {
                            value: cities[i].Description,
                            text: cities[i].Description
                        });
                        citySelect.append(option);
                    }
                } catch (error) {
                    console.error(error);
                }
            });

            // Завантаження відділень для вибраного міста
            citySelect.on("change", async function () {
                var selectedCity = citySelect.val();

                try {
                    var officesResponse = await $.ajax({
                        url: "https://api.novaposhta.ua/v2.0/json/Address/getWarehouses",
                        type: "POST",
                        dataType: "json",
                        data: JSON.stringify({
                            "apiKey": apiKey,
                            "modelName": "Address",
                            "calledMethod": "getWarehouses",
                            "methodProperties": {
                                "CityName": selectedCity
                            }
                        })
                    });

                    var offices = officesResponse.data;

                    officeSelect.empty();
                    officeSelect.append($('<option>', {
                        value: "--Оберіть відділення--",
                        text: "--Оберіть відділення--"
                    }));

                    for (var i = 0; i < offices.length; i++) {
                        var option = $('<option>', {
                            value: offices[i].Description,
                            text: offices[i].Description
                        });
                        officeSelect.append(option);
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            toggleScript();

            $('#testButton').click(function() {
                console.log($('#payment-type-select').val());
            });
        });

    </script>
    <script>
        function toggleScript() {
            var paymentTypeSelect = document.querySelector('#payment-type-select');
            var dropinContainer = document.querySelector('#dropin-container');
            if (paymentTypeSelect.value === '@WC.ReceivePay') {
                // remove the Braintree script from the page
                var existingScript = document.querySelector('#braintree-script');
                if (existingScript) {
                    existingScript.remove();
                }
                // remove the dropin container from the page
                if (dropinContainer) {
                    dropinContainer.remove();
                }
            } else {
                // re-add the Braintree script to the page
                var script = document.createElement('script');
                script.id = 'braintree-script';
                script.src = 'https://js.braintreegateway.com/web/dropin/1.34.0/js/dropin.min.js';
                document.head.appendChild(script);
                // add the dropin container back to the page
                var newDropinContainer = document.createElement('div');
                newDropinContainer.id = 'dropin-container';
                document.querySelector('.checkout-container').appendChild(newDropinContainer);
                var client_token = "@ViewBag.ClientToken";
                var form = document.querySelector('#payment-form');
                braintree.dropin.create({
                    authorization: client_token,
                    container: '#dropin-container'
                }, function (createErr, instance) {
                    form.addEventListener('submit', function () {
                        event.preventDefault();
                        //Add the nonce to the form and submit
                        instance.requestPaymentMethod(function (err, payload) {
                            // Submit payload.nonce to your server
                            document.querySelector('#nonce').value = payload.nonce;
                            form.submit();
                        });
                    });
                });
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.container').addClass('show');
        })
    </script>
    
}