@model Barbershop.Models.ViewModels.ProductUserVM

@{
    var orderTotal = 0.0m;
}
<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card p-3">
                <div class="card-header text-dark ml-0 row container" style="background-color: transparent">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Ваше замовлення
                    </div>
                    <div class="col-6 text-right">
                        <a asp-controller="Cart" asp-action="Index" class="btn btn-dark btn-sm" style="border-radius: 0px">Назад до кошика</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-dark">Деталі замовлення:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Ім'я та прізвище</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.FullName" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Номер телефону</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Ел. пошта</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="BarbershopUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="BarbershopUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Спосіб доставки</label>
                                    </div>
                                    <div class="col-9">
                                        <select asp-for="BarbershopUser.DeliveryMethod" type="text" class="form-control" >
                                            <option disabled>--Оберіть спосіб доставки--</option>
                                            <option>Самовивіз(м.Бердичів, вул.Європейська 54)</option>
                                            <option>Доставка Новою Поштою</option>
                                        </select>
                                        <span asp-validation-for="BarbershopUser.DeliveryMethod" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label>Область</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="regionSelect" asp-for="BarbershopUser.Region" type="text" class="form-control">
                                            <option value="">-- Оберіть область --</option>
                                            <option value="Вінницька область">Вінницька область</option>
                                            <option value="Волинська область">Волинська область</option>
                                            <option value="Дніпропетровська область">Дніпропетровська область</option>
                                            <option value="Донецька область">Донецька область</option>
                                            <option value="Житомирська область">Житомирська область</option>
                                            <option value="Закарпатська область">Закарпатська область</option>
                                            <option value="Запорізька область">Запорізька область</option>
                                            <option value="Івано-Франківська область">Івано-Франківська область</option>
                                            <option value="Київська область">Київська область</option>
                                            <option value="Кіровоградська область">Кіровоградська область</option>
                                            <option value="Луганська область">Луганська область</option>
                                            <option value="Львівська область">Львівська область</option>
                                            <option value="Миколаївська область">Миколаївська область</option>
                                            <option value="Одеська область">Одеська область</option>
                                            <option value="Полтавська область">Полтавська область</option>
                                            <option value="Рівненська область">Рівненська область</option>
                                            <option value="Сумська область">Сумська область</option>
                                            <option value="Тернопільська область">Тернопільська область</option>
                                            <option value="Харківська область">Харківська область</option>
                                            <option value="Херсонська область">Херсонська область</option>
                                            <option value="Хмельницька область">Хмельницька область</option>
                                            <option value="Черкаська область">Черкаська область</option>
                                            <option value="Чернівецька область">Чернівецька область</option>
                                            <option value="Чернігівська область">Чернігівська область</option>
                                        </select>
                                        <span asp-validation-for="BarbershopUser.Region" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label>Місто</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="citySelect" asp-for="BarbershopUser.City" type="text" class="form-control" >
                                            <option disabled selected value="">-- Оберіть місто --</option>
                                           
                                        </select>
                                        <span asp-validation-for="BarbershopUser.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1 delivery-details">
                                    <div class="col-3">
                                        <label>Відділення Нової Пошти</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="officeSelect" asp-for="BarbershopUser.PostOffice" type="text" class="form-control">
                                        <option disabled selected>--Оберіть відділення--</option>
                                        </select>
                                        <span asp-validation-for="BarbershopUser.PostOffice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-dark">Підсумок по замовленню:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @for (int i = 0; i < Model.ProductList.Count(); i++)
                                        {
                                            <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].ProductName" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ProductList[i].TempCount" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ProductList[i].ProductName</h6>
                                                    <small class="text-muted">Кількість замовлено: @Model.ProductList[i].TempCount шт</small>
                                                    <small class="text-muted">Загальна сума по товару: @(Model.ProductList[i].Price * Model.ProductList[i].TempCount) грн</small>
                                                </div>

                                            </li>
                                            orderTotal += Model.ProductList[i].Price * Model.ProductList[i].TempCount;
                                        <li class="list-group-item d-flex justify-content-between bj-light">
                                            <strong class="text-dark">Загальна ціна (UAH)</strong>
                                            <strong class="text-dark">@orderTotal грн</strong>
                                        </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style=" background-color: transparent">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            <button type="submit" style="border-radius: 0px" class="btn btn-dark form-control">Підтвердити замовлення</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Summary.js"></script>
}

