@model Barbershop.Models.Products

<div class="col-lg-4 col-md-6 pb-4 mt-3 filter @Model.ProductCategory.Name.Replace(' ', '_')">
    <div class="card h-100" style="border: none;">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="@WC.ProductPath@Model.ProductImage" class="card-img-top h-100 img-fluid" style="object-fit: cover; object-position: center;" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body d-flex flex-column justify-content-between h-100">
                    <div>
                        <h5 class="card-title">@Model.ProductName</h5>
                        <p class="card-text">Ціна: <span class="text-info h5">@Model.Price грн</span></p>
                    </div>
                    <div class="mt-3">
                        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-dark btn-sm">Детальніше</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
