@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Особисті дані</a></li>

    @if (User.IsInRole(Barbershop.WC.AdminRole) || User.IsInRole(Barbershop.WC.ClientRole))
    {
             <li class="nav-item"><a class="nav-link @ManageNavPages.UserAppointmentsClass(ViewContext)" id="userAppointments" asp-page="./UserAppointments">Мої записи</a></li>
             <li class="nav-item"><a class="nav-link @ManageNavPages.OrderProductsClass(ViewContext)" id="productOrders" asp-page="./OrderProducts">Мої замовлення</a></li>
    }
    @if (User.IsInRole(Barbershop.WC.BarberRole))
    {
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserAppointmentsClass(ViewContext)" id="userAppointments" asp-page="./UserAppointments">Записи до мене</a></li>
    }

    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">E-Mail</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Налаштування паролю</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Зовнішній вхід</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Двох-факторна аутентифікація</a></li>
    @if(User.IsInRole(Barbershop.WC.AdminRole))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Персональна інформація</a></li>
    }
</ul>
